* {
    padding: 0;
    margin: 0;
    font-size: 40px;
  }

  .box-one {
    background-color: white;
    border: 0px solid pink;
    padding: 20px;
    margin: 20px;
    border-width: 20px;
  } 
  
  .box-two {
    background-color: white;
    border: 0px solid plum;
  } 